.checkout {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 3rem 0;
    gap: 2rem;
  }
  
  .checkout-products,
  .checkout-resume {
    background: var(--gray);
    padding: 3rem 2rem;
    border-radius: 6px;
  }
  .checkout-products {
    flex: 1;
  }
  .checkout-resume {
    flex: 0.5;
    text-align: center;
  }
  .checkout-resume * {
    margin: 0 0 1rem 0;
  }
  .checkout-resume h4 {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .checkout-products article {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
    margin: 0 0 1rem 0;
  }
  .checkout-products article:last-child {
    margin: 0;
  }
  .checkout-products article > div {
    display: flex;
    gap: 1rem;
  }
  .checkout-products article > div > div p {
    margin: 0 0 1rem 0;
  }
  .checkout-products article img {
    width: 150px;
    height: 150px;
    border: 1px solid var(--gray-2);
    border-radius: 6px;
    display: block;
  }

  #pruebaForm{
    padding-top: 10px;
    margin: 10px;
    display: inline-block;
  }

  .btn-primary {
    font-size: 20px; /* Tamaño de fuente */
    padding: 10px 20px; /* Aumentar el padding para hacer el botón más grande */
    background-color: #FDE9E9;
      /* Estilos para el hover */
  transition: background-color 0.3s, color 0.3s; /* Transición suave */
  }

  .btn-danger{
    font-size: 20px; /* Tamaño de fuente */
    padding: 10px 20px; /* Aumentar el padding para hacer el botón más grande */
    background-color: #FDE9E9;
      /* Estilos para el hover */
  transition: background-color 0.3s, color 0.3s; /* Transición suave */
  }
  .btn-danger:hover {
    background-color: #DDB96D; /* Cambio de color de fondo en hover */
    color: #fff; /* Cambio de color de texto en hover */
  }
  
  .btn-primary:hover {
    background-color: #DDB96D; /* Cambio de color de fondo en hover */
    color: #fff; /* Cambio de color de texto en hover */
  }
  h6 {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333; /* Color del texto */
    text-align: center; /* Centrar el texto */
    padding: 10px; /* Espacio alrededor del texto */
    background-color: #f0f0f0; /* Color de fondo */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra */
    max-width: 400px; /* Ancho máximo */
    margin: 0 auto; /* Centrar horizontalmente */
  }
  
